# Java build files
/target/
*.class

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# VS Code
.vscode/
.settings/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
/.idea/
*.iml
*.ipr
*.iws

# Temporary files
*.swp
*.swo
~*
